@font-face {
  font-family: 'stay_homeregular';
  src: url("./components/fonts/stay_home-webfont.woff") format("woff"),
  url("./components/fonts/stay_home-webfont.woff2") format("woff2");
  font-weight: 100, 200, 300, 400, 500, 600, 700;
  font-style: normal;
}

@font-face {
  font-family: 'kg_neatly_printed_spacedRg';
  src: url('./components/fonts/kgneatlyprintedspaced-webfont.woff2') format('woff2'),
        url('./components/fonts/kgneatlyprintedspaced-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'kg_summer_sunshine_shadowRg';
  src: url('./components/fonts/kgsummersunshineshadow-webfont.woff2') format('woff2'),
        url('./components/fonts/kgsummersunshineshadow-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'kg_all_of_the_starsregular';
  src: url('./components/fonts/kgallofthestars-webfont.woff2') format('woff2'),
        url('./components/fonts/kgallofthestars-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@import url("https://fonts.googleapis.com/css2?family=Titan+One&display=swap");

.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-image: url('./images/Drawing-1.sketchpad.jpeg');
  background-size: 100%;
  display: flex;
  /* align-items:; */
  justify-content: center;
  z-index: 3;
}
.modal-end {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  background-size: 100%;
  display: flex;
  justify-content: center;
  z-index: 3;
}

.modal .wrapper {
  position: fixed;
  top: 20px;
}

.wrapper-end {
  position: fixed;
  align-self: center;
}

.wrapper span, .wrapper-end span{
  -webkit-text-stroke-width: 1.25;
  -webkit-text-stroke-color: white;
  font-size: 100px;
  text-shadow: 0 0px #f3c623, 0 0px #f2aaaa;
  transform: translate(0, 100%) rotate(4deg);
  animation: jump 1.5s ease-in-out;
  display: inline-block;
  font-family: "Titan One", cursive;
  color: white;
}
.wrapper span:nth-child(1) {
  animation-delay: 120ms;
}
.wrapper span:nth-child(2) {
  animation-delay: 240ms;
}
.wrapper span:nth-child(3) {
  animation-delay: 360ms;
}
.wrapper span:nth-child(4) {
  animation-delay: 480ms;
}
.wrapper span:nth-child(5) {
  animation-delay: 600ms;
}
.wrapper span:nth-child(6) {
  animation-delay: 720ms;
}

@keyframes jump {
  33% {
    text-shadow: 0 60px #f37121, 0 100px #f2aaaa;
  }
  50% {
    transform: translate(0, 0) rotate(-4deg);
    text-shadow: 0 0px #8fc0a9, 0 0px #84a9ac;
  }
  66.67% {
    text-shadow: 0 -60px #d54062, 0 -100px #8fc0a9;
  }
}

.modal-content {
  width: 600px;
  height: 300px;
  background-color: #f4b333;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-style: solid;
  border-width: 10px;
  border-color: #03cea4;
  margin-top: 300px;
}
.modal-content-end {
  width: 600px;
  height: 300px;
  background-color: #f4b333;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-style: solid;
  border-width: 10px;
  border-color: #03cea4;
  margin-top: 170px;
}

.modal-body {
  font-family:'kg_neatly_printed_spacedRg';
  font-size: 30px;
  align-self: center;
  margin-top: 50px;
}

.modal-footer {
  margin-top: 60px;
  padding: 10px;
}

.name-input {
  border-style: solid;
  border-color: white;
  height: 35px;
  width: 100px;
  border-radius: 10px;
  font-size: 20px;
  text-align: center;
  margin: 5px;
  box-shadow: 1px 1px 3px black;
}
.name-input:hover {
  border-style: solid;
  border-color: #fb4d3d;
  border-width: 3px;
}
.play-button {
  box-sizing: border-box;
  background-color: yellowgreen;
  border: 2px; 
  border-radius: 0.6em;
  box-shadow: 0 10px rgb(132, 177, 42);
  cursor: pointer;
  align-self: center;
  line-height: 1;
  margin: 20px;
  padding: 10px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'kg_summer_sunshine_shadowRg';
  font-size: 40px;
  color: #fff;
  background-image: linear-gradient(45deg, #03cea4 50%, transparent 50%);
  background-position: 100%;
  background-size: 400%;
  transition: 500ms ease-in-out;
}
.go-to-level-2 {
  position: absolute;
  box-sizing: border-box;
  background-color: yellowgreen;
  border: 2px; 
  border-radius: 0.6em;
  box-shadow: 0 5px rgb(132, 177, 42);
  cursor: pointer;
  align-self: center;
  line-height: 1;
  padding: 10px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'kg_neatly_printed_spacedRg';
  font-size: 15px;
  color: #fff;
  background-image: linear-gradient(45deg, #03cea4 50%, transparent 50%);
  background-position: 100%;
  background-size: 400%;
  transition: 500ms ease-in-out;
}
.go-to-level-2:active {
  box-shadow: 0 5px rgb(132, 177, 42);
  transform: translateY(5px);
}

.too-easy-container{
  padding-top: 100px;
  display: inline;
  position: relative;
  
}
.too-easy {
  
  display: inline;
  font-size: 30px;
  color: #03cea4;
  font-family: 'kg_neatly_printed_spacedRg';
}

.play-button:active{
  box-shadow: 0 5px rgb(132, 177, 42);
  transform: translateY(5px);
}

.play-button:visited {
  text-decoration: none;
}
.play-button:hover {
  background-position: 0;
 }

body {
  background-color: #345995;
  margin: 0;
}

.nav-bar {
  background-color: #fb4d3d;
  margin: 0;
}

.logo {
  height: 90px;
  margin-left: 10px;
  padding: 5px;
}

.links {
  display: inline-flex;
  float: right;
  list-style-type: none;
}

.links li {
  float:right;
  color: snow;
  padding: 18px;
  margin-left: 30px;
  font-size: 30px;
  display: block;
  font-family: "kg_summer_sunshine_shadowRg";
  text-decoration: none;
}

li a:hover {
  cursor: pointer;
}

.help-page {
  display:flex;
  flex-direction: column;
  font-family: 'kg_neatly_printed_spacedRg' ;
  justify-content: center;
  align-items: center;
}

.help-page h1 {
  text-align: center;
  font-size: 30px;
  color: #03cea4;
}

.help-page p{
  font-size: 25px;
  color: snow;
}

.gif {
  max-width: 60%;
}

.help-page-button, .end-page-button{
  align-self: flex-end;
  box-sizing: border-box;
  background-color: yellowgreen;
  border: 2px; 
  border-radius: 50px;
  box-shadow: 0 5px rgb(132, 177, 42);
  cursor: pointer;
  line-height: 1;
  margin: 10px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'kg_summer_sunshine_shadowRg';
  font-size: 20px;
  color: #fff;
  background-image: linear-gradient(45deg, #03cea4 50%, transparent 50%);
  background-position: 100%;
  background-size: 400%;
  transition: 500ms ease-in-out;
}

.game-board {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  width: 650px;
  margin: auto;
}

.welcome-message {
color:yellow;
font-size: 50px;
font-weight: 300;
font-family:'kg_neatly_printed_spacedRg';
}
.highscore-title {
  font-size: 20px;
  font-family:'kg_neatly_printed_spacedRg' ;
}

.highscore-number{
  font-size: 20px;
  font-family:'kg_neatly_printed_spacedRg' ;
}

.card-flip {
  cursor: pointer;
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 900px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
}

.card-front .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  
}
.card-back .card-back:hover {
  cursor: pointer;
}

.card-front{
  background-color: #f4b333;
  font-family: 'kg_neatly_printed_spacedRg' ;
  font-size: 15px;
  width: 120px;
  height: 120px;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 10px;
  padding: 10px;
  border-radius: 200px;
  box-shadow: 1px 1px 2px black;
  cursor: pointer;
}


.card-back {
  background-color: #03cea4;
  width: 120px;
  height: 120px;
  margin: 10px;
  padding: 10px;
  border-radius: 200px;
  box-shadow: 1px 1px 2px black;
}

.card-back:hover {
 box-shadow: 3px 3px 5px black;
}

.card-details p {
  padding-top: 10px;
  font-size: 100px;
  margin: auto;
  -webkit-text-stroke-color: white;
  font-family: "kg_neatly_printed_spacedRg", cursive;
  color: white;
}
.card-details {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-details img {
  margin-top: 20px;
  max-width: 75%;
  max-height: 75%; 
}

.hide {
  z-index: -5;
}